---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me -- teste de variável";

const identity = {
  firstName: "Igor",
  country: "Brazil",
  occupation: "Data scientist",
  hobbies: ["hiking", "photography", "birdwatching", "literature"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "#6FA4AF";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout> <!-- As informações de style, que antes estavam em head, agora tem que ir pra dentro do layout para sobrescrever as orientações do BaseLayout. -->
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

		    <style define:vars={{skillColor, fontWeight, textCase}}>
				h1 {
					color: #D97D55;
					font-size: 4rem;
				}
				.skill {
					color: var(--skillColor);
					font-weight: var(--fontWeight);
					text-transform: var(--textCase);
				}
    		</style>

		<h1>{pageTitle}</h1>
        <h2>... and my new website!</h2>

        <p>I'm Igor, a human being and a father.</p>

        <p>I like to hike, read, and be with my family and friends.</p>

		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName}.</li>
			<li>I live in {identity.country}.</li>
			<li>My hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}.</li>
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => <li class="skill">{skill}</li>)}
		</ul>

		{happy && <p>I am happy to be learning Astro!</p>}

		{finished && <p>I finished this tutorial!</p>}

		{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}

	</BaseLayout>